*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.blure {
    filter: blur(9px);
    opacity: 0.9;
}
